<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservice.demo.mapping.AUserMapper">
  <resultMap id="BaseResultMap" type="com.demoone.dh.entity.po.AUser">
    <id column="UserId" jdbcType="INTEGER" property="userid" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="USerPic" jdbcType="VARCHAR" property="userpic" />
  </resultMap>
  <sql id="Base_Column_List">
    UserId, UserName, USerPic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from a_user
    where UserId = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from a_user
    where UserId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demoone.dh.entity.po.AUser">
    insert into a_user (UserId, UserName, USerPic
      )
    values (#{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{userpic,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.demoone.dh.entity.po.AUser">
    insert into a_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        UserId,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="userpic != null">
        USerPic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpic != null">
        #{userpic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demoone.dh.entity.po.AUser">
    update a_user
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpic != null">
        USerPic = #{userpic,jdbcType=VARCHAR},
      </if>
    </set>
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demoone.dh.entity.po.AUser">
    update a_user
    set UserName = #{username,jdbcType=VARCHAR},
      USerPic = #{userpic,jdbcType=VARCHAR}
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>